@font-face {
  font-family: AbhayaLibre-Regular;
  src: local(AbhayaLibre-Regular), url(./AbhayaLibre-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
    font-family: AbhayaLibre-Extra;
    src: local(AbhayaLibre-Extra), url(./AbhayaLibre-ExtraBold.ttf) format("truetype");
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
  }

@font-face {
    font-family: CarroisGothic;
    src: local(CarroisGothic), url(./CarroisGothic-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  
